@model IEnumerable<Password_Manager.WebApp.Models.PasswrodVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td type="password">
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                *********
            </td>
            <td>
                @* Javascript function coping pass to the clipboard *@
                <script>
                    function copyToClipboard(pass) {
                        navigator.clipboard.writeText(pass);
                    }
                </script>
                <div class="btn-group">
                    <button onClick='copyToClipboard("@item.Pass")' type="button" class="btn btn-sm btn-outline-dark text-light">
                        Copy
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-dark">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @style = "color: white;" })
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-dark">
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @style = "color: white;" })
                    </button>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
